.modal {
  &-wrapper {
    position: fixed;
    background-color: black;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    &-btn {
      width: 150px;
      color: white;
      padding: 10px;
      margin: 10px;
      background-color: lightgray;
      text-transform: uppercase;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 18px;

    }

    &-btn:first-child {
      background-color: green;
    }

    &-btn:nth-child(2) {
      background-color: red;
    }

    &-btn:hover {
      color: black;
      font-weight: bold;
    }
  }

  &__container {
    width: 450px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
    border: 1px solid black;
    box-shadow: 1px 1px 20px 20px black;
    overflow: hidden;

    &-closeBtn {
      font-weight: bold;
      float: right;
      width: 30px;
      height: 30px;
      margin: 15px;
      outline: none;
      font-size: 20px;
      border: none;
    }

    &-closeBtn:hover {
      border: 2px solid black;
      cursor: pointer;
      color: red;
    }

    &-title {
      color: green;
      text-align: center;
      margin-top: 0;
      padding-top: 60px;
      text-transform: uppercase;
    }

    &-text {
      position: relative;
      margin: 24px;
      color: black;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
    }

  }

}
