.product-item {

  &__choose-star:hover {
    color: gold;
  }

  &__choose-star {
    font-size: 20px;
  }

  &__choose-star-gold {
    color: gold;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    color: teal;
  }

  &__price {
    font-weight: bold;
  }

  &-buyBtn {
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: teal;
    font-weight: bold;
    color: black;
    font-size: 16px;
  }

  &-remove-btn {
    margin-top: 3px;
    margin-right: 5px;
    padding: 5px;
    align-self: flex-end;
    color: red;
    border: 2px solid teal;
    border-radius: 5px;
  }
  &-remove-btn:hover{
    background-color: red;
    color:black;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    border: 2px solid white;
  }
  &-buyBtn:hover {
    color: white;
    background-color: red;
    font-size: 16px;
    cursor: pointer;
  }

  &__container {
    width: 23%;
    border: 1px solid grey;
    text-align: center;
    margin: 5px 5px 20px 5px;
    box-shadow: 2px 2px 15px 3px black;
    
    &.cart{
      display: flex;
      flex-direction: column;
    }
  }

  &__container:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px 3px teal;
    border: none;
  }

  &__photo {
    width: 80%;
    margin: 0 auto;
    height: 200px;
  }
}
