.cart__section-text{
    text-align: center;
    font-weight: bold;
    color: teal;
    margin-top: 40vh;
    font-size: 50px;
}

.cart__products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    margin: 40px;
}
